@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

:root {
--bg-color : #252A3E;
--surface-color-primary : #212E4C;
--surface-color-white : #FFFFFF;
--text-heading : #FFFFFF;
--text-description : #97A0CC;

}

@layer base {
  html {
    background-color: var(--bg-color);
  }
  body {
    background-color: var(--bg-color);
  }
  .bg-surface {
    background-color: var(--surface-color);
  }
  .text-surface {
    color: var(--bg-color);
  }
}
